<launch>

    <arg name="world_select" default="empty" doc="empty task multi_copter"/>

    <arg name="model_select" default="model" doc="model rubicon multi_copter"/>

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find sct_gazebo)/worlds/$(arg world_select).world"/>
    </include>


<!--     <node name="spawn_sdf" pkg="gazebo_ros" type="spawn_model" -->
<!--         args="-file $(find sct_gazebo)/worlds/$(arg model_select).sdf -sdf -model test_model"/> -->

    <node name="spawn_sdf" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find sct_gazebo)/worlds/wilder/$(arg model_select).sdf -sdf -model test_model"/>


    <!-- push robot_description to factory and spawn robot in gazebo -->
<!--     <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true" -->
<!--           args="-x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description -urdf -model $(arg robot_type)" -->
<!--           output="screen"/> -->

</launch>
