<launch>
    <arg name="use_sim" default="true"/>
    <arg name="paused" default="false"/>

    <arg name="robot1_name" default="sct1"/>
    <arg name="robot2_name" default="sct2"/>

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="world_name" value="$(find sct_gazebo)/worlds/task.world"/>
    </include>


    <group ns="$(arg robot1_name)">
        <param name="robot_description"
            command="$(find xacro)/xacro $(find sct_description)/urdf/scout/scout_mini.urdf.xacro
            use_sim:=true"/>

        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"
            args="-x 0 -y 0 -z 0.2 -param robot_description -urdf -model $(arg robot1_name)" output="screen"/>

        <node name="state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <param name="publish_frequency" type="double" value="50.0"/>
            <param name="tf_prefix" type="string" value="$(arg robot1_name)"/>
        </node>

        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
            <param name="rate" type="double" value="50.0"/>
        </node>
    </group>

    <group ns="$(arg robot2_name)">
        <param name="robot_description"
            command="$(find xacro)/xacro $(find sct_description)/urdf/scout/scout_mini.urdf.xacro
            use_sim:=true"/>

        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"
            args="-x 2 -y 2 -z 0.2 -param robot_description -urdf -model $(arg robot2_name)" output="screen"/>

        <node name="state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <param name="publish_frequency" type="double" value="50.0"/>
            <param name="tf_prefix" type="string" value="$(arg robot2_name)"/>
        </node>

        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
            <param name="rate" type="double" value="50.0"/>
        </node>
    </group>



</launch>
